/*Font Loded*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body{
  background: url(../img/bg.jpg);
}

header{
	display: flex;
	
	margin: 10px auto;
	padding: 5px;
	height: 80px;
}


.btn {

}
.btn-custom1 {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
  background: url(../img/chall.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.btn-custom1:hover {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
  object-fit: cover;
}

.btn-custom2 {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
  background: url(../img/review.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.btn-custom2:hover {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
}

.btn-custom3 {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
  background: url(../img/reading.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.btn-custom3:hover {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
}

.btn-custom4 {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
  background: url(../img/share.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.btn-custom4:hover {
  width: 240px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #B8B8B8;
}

.pricing-title {
  font-size: 20px;
  font-style: italic;
}
